:root {
    --loader-overlay: rgb(84, 103, 145, 0.6);
}

body {
    padding: 20px;
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--loader-overlay);
    z-index: 1000;
    transition: 0.2s ease;
    opacity: 1;
}

.loader_hidden {
    top: 100%;
    opacity: 0;
}