
body {
    background: #546791;
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
    justify-content: center;
}

.img-image {
    display: block;
margin-left: auto;
    margin-right: auto;
    }