body {
    background: #8FD4C1;
    padding: 50px;
    position: relative;
}

h1 {
    color: blue;
    text-align: center;
    justify-content: center;
}

img {
    position: absolute;
    width: 400px;
    top: auto;
    left: 37%;

}